%helper {
  font-size: var(--font-size-helper);
  padding: 0 1rem;
}
.labelsBlock {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
  position: relative;
}

.helper {
  @extend %helper;
}

.label {
  color: var(--grey500);
  font-size: var(--font-size-label);
  padding: 0 1rem;
}

.error {
  @extend %helper;
  color: red;
}

.input {
  border-radius: var(--border-radius);
  width: 100%;
  border: 1px solid var(--grey200);
  color: var(--grey600);
  padding: 0.8rem 8% 0.8rem 1rem;
}

.errorInput {
  @extend .input;
  border-color: red;
}

.input:focus {
  outline: var(--focus-outline);
  color: var(--text);
}

.password {
  padding-right: 8%;
}

.passwordControl {
  position: absolute;
  background: transparent;
  border: 1px solid transparent;
  right: 1rem;
}

.passwordOpened {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.passwordBlock {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordControl:hover,
.passwordControl:focus {
  border: 1px solid transparent;
  outline: none;
}

.passwordControl:focus-within {
  border: 1px solid transparent;
  outline: none;
}
.passwordControl:focus-visible {
  border: var(--focus-outline);
  outline: none;
}

@media screen and (max-width: 1440px) {
  .block {
    bottom: 0;
    margin: 15rem 0 0;
    padding: 45px;
    animation: animationOnLoad ease-out 1s;
    animation-iteration-count: 1;
  }
  .innerBlock {
    gap: 15px;
  }
  .form {
    gap: 15px;
  }
  @keyframes animationOnLoad {
  }
}

@media screen and (max-width: 860px) {
  .block {
    height: 100vh;
    max-width: 100vw;
    overflow: auto;
    padding: 20px;
  }
  .innerBlock {
    max-width: 100vw;
  }
}
