.password,
.email {
  border-radius: 14px;
  width: 100%;
  border: 1px solid var(--grey200);
  color: var(--text);
  padding: 0.8rem 1rem;
}

.password:focus,
.email:focus {
  outline: var(--focus-outline);
}
.password:focus,
.email::placeholder {
  color: var(--grey600);
}

.password {
  padding-right: 8%;
}

.passwordControl {
  position: absolute;
  background: transparent;
  border: 1px solid transparent;
  right: 1rem;
}

.passwordOpened {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.passwordBlock {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordControl:hover,
.passwordControl:focus {
  border: 1px solid transparent;
  outline: none;
}

@media screen and (max-width: 1440px) {
  .block {
    bottom: 0;
    margin: 15rem 0 0;
    padding: 45px;
    animation: animationOnLoad ease-out 1s;
    animation-iteration-count: 1;
  }
  .innerBlock {
    gap: 15px;
  }
  .form {
    gap: 15px;
  }
  @keyframes animationOnLoad {
  }
}

@media screen and (max-width: 860px) {
  .block {
    height: 100vh;
    max-width: 100vw;
    overflow: auto;
    padding: 20px;
  }
  .innerBlock {
    max-width: 100vw;
  }
}
