.calendarPage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 1.875rem;
}

.description {
  margin: 1.875rem 0;
  h1 {
    font-size: 28px;
    font-weight: 700;
    color: var(--grey800);
    margin: 0;
    line-height: 2.375rem;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey600);
    margin: 0;
  }
}
.calendar {
  text-decoration: none;
  text-align: center;
  color: var(--grey700);
  max-width: 45rem;
  button {
    cursor: pointer;
    max-width: calc((100% / 7) - 1rem);
    aspect-ratio: 1;
    background-color: var(--color-white);
    border: 1px solid var(--grey150);
    padding: 0.625rem;
    border-radius: 0.625rem;
    margin: 0.5rem 0.9375rem;
  }
  abbr {
    text-decoration: none;
  }
  .react-calendar__tile {
    color: green;
  }
  .react-calendar__navigation__label {
    color: red;
  }
}

.calendarSide {
  display: flex;
  flex-flow: column nowrap;
  padding-right: 1.875rem;
}

.eventSide {
  display: flex;
  flex-flow: column nowrap;
  margin: 1.875rem 0;
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--grey800);
    width: 200px;
    margin: 0;
  }
}
