
.calendarPage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 1.875rem;
  @media (max-width: 1280px) {
    flex-direction: column;
    overflow: auto;
  }
}

.description {
  margin: 1.875rem 0;
  h1 {
    font-size: 28px;
    font-weight: 700;
    color: var(--grey800);
    margin: 0;
    line-height: 2.375rem;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey600);
    margin: 0;
  }
}

.calendarSide {
  display: flex;
  flex-flow: column nowrap;
  padding-right: 1.875rem;
}

.eventSide {
  display: flex;
  flex-flow: column nowrap;
  margin: 1.875rem 0;
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--grey800);
    width: 200px;
    margin: 0;
  }
}
