.accountPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0 1.875rem;
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--grey800);
    width: 200px;
    margin: 0;
  }
}

.description {
  margin: 1.875rem 0;
  h1 {
    font-size: 28px;
    font-weight: 700;
    color: var(--grey800);
    margin: 0;
    line-height: 2.375rem;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    color: var(--grey600);
    margin: 0;
  }
}

.accountSetting {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  border: 1px solid var(--grey150);
  border-radius: 18px;
  width: 100%;
  height: 100%;
  padding: 20px 18px;
  box-sizing: border-box;
}

.innerSettingBlock {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  width: 100%;
  p {
    margin: 0;
  }
  code {
    background-color: var(--grey150);
    border-radius: 4px;
    padding: 0.2rem;
  }
  @media (max-width: 1280px) {
    gap: 0.5rem;
  }
}
.innerDescriptionBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  max-width: 150px;
  width: 100%;
  @media (max-width: 1280px) {
    max-width: 100px;
  }
}

.uploadImage {
  display: flex;
  flex-flow: column nowrap;
  max-width: 400px;
  width: 100%;
  gap: 1.5rem;
  form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
  }
}
.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
.uploadAvatarButton {
  position: absolute;
  visibility: hidden;
}
.updateAvatar {
  position: absolute;
  width: fit-content;
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
}

.avatarBlock {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-self: flex-start;
  align-items: center;
  width: fit-content;
  border-radius: 50%;
  &:hover .avatar {
    filter: blur(1px);
  }
  &:hover .updateAvatar {
    opacity: 100%;
    transition: opacity 0.2s ease-in;
  }
}
