.settingCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 860px;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-white);
  border: 1px solid var(--grey150);
  border-radius: 14px;
}

.leftSide {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  gap: 0.625rem;
  align-items: center;
}

.description {
  h1 {
    color: var(--grey800);
    font-size: 1rem;
    margin: 0;
  }
  p {
    color: var(--grey700);
    font-size: 1rem;
    margin: 0;
  }
}

.rightSide {
  display: flex;
  max-width: 17.5rem;
  width: 100%;
  justify-content: flex-end;
}
