:root {
  --color-main-button: #1b85f3;
  --color-main-button-hovered: #3292f8;
  --color-white: #ffffff;
  --color-heading: #39434f;
  --color-text: #808b9a;
  --color-link: #1b85f3;
  --grey150: #eceff2;
  --grey200: #d9dfe6;
  --grey300: #c6ced9;
  --grey400: #b3becd;
  --grey500: #a0aec0;
  --grey600: #808b9a;
  --grey700: #606873;
  --grey800: #39434f;
  --grey1000: #101113;
  --color-selected-item: #d1e6ff;
  --color-white-bg: #ffffff;
  --black-background-color: #2a3240;
  --color-accent: #ffc542;
  --font-size-button: 1rem;
  --font-size-label: 0.85rem;
  --font-size-helper: 0.7rem;

  --border-radius: 0.5rem;

  --focus-outline: 1px solid var(--color-accent);

  --main-font-family: "Noto Sans", sans-serif;
}

:focus {
  outline: var(--focus-outline);
}
body {
  font-family: var(--main-font-family);
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
p {
  margin: 0;
}

input::placeholder {
  color: var(--grey500);
}

a {
  text-decoration: none;
  color: var(--color-link);
  border: none;
}

a:hover {
  color: var(--color-accent);
  border: none;
}
