.checkbox {
  position: absolute;
  visibility: hidden;
}

.label {
  cursor: pointer;
  width: 44px;
  height: 24px;
  background: var(--grey200);
  display: block;
  border-radius: 16px;
  position: relative;
  padding: 3px 3px 3px 3px;
}

.label:after {
  content: "";

  position: absolute;
  left: 5px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 90px;
  transition: 0.1s;
}

.checkbox:checked + .label {
  background: var(--color-main-button);
}

.checkbox:checked + .label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.checkbox:checked + .switcher {
  color: var(--color-main-button);
}

.switcher {
  display: flex;
  flex-flow: row nowrap;
  font-family: var(--main-font-family);
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--grey600);
  padding: 0 0.5rem;
}
.switcher::before {
  content: "Off";
  cursor: pointer;
  position: relative;
  left: -0.5rem;
}
.switcher::after {
  content: "On";
  cursor: pointer;
  position: relative;
  right: -0.5rem;
}

.switcherEmpty {
  display: flex;
  flex-flow: row nowrap;
}
